.monthview-selected{
    background-color: cadetblue !important;
}

.monthview-current{
    background-color: #ddd !important;
}

.eventReservations{
    background-color: aquamarine;
}

.back{
    background-color: aquamarine;
}

.reservationsCount{
    display: none;
}